<div class="my_navbar w-100">
  <header class="scd_header py-3 mb-4">
    <div class="container d-flex flex-wrap justify-content-between pt-3">
      <div>
        <span class="frs_title">CountryInfos</span>
      </div>
      <div>
        <ul class="nav me-auto pt-1">
          <li class="nav-item">
            <a
              class="nav-link px-2"
              routerLink="home"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="router-link-active"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-2"
              routerLink="about"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="router-link-active"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-2"
              routerLink="blog"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="router-link-active"
              >Blog</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-2"
              routerLink="fag"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="router-link-active"
              >Fag</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-2"
              routerLink="contact"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="router-link-active"
              >Contact us</a
            >
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>
